<main>
  <h1>Update translations</h1>

  <code><%= @file_path %></code><br>
  <p><%= link_to 'Back', translation_files_path %></p>

  <table>
    <thead>
      <tr>
        <td>Key</td>
        <td>Value</td>
      </tr>
    </thead>
    <tbody>
      <% @translation_keys.each do |key, value| %>
        <% translation = Moirai::Translation.find_by(key: key, file_path: @decoded_path, locale: I18n.locale) %>

        <tr>
          <td>
            <% if translation.present? %>
              <mark><%= key %></mark>
            <% else %>
              <%= key %>
            <% end %>
          </td>
          <td>
            <%= form_for Moirai::Translation.new, url: create_or_update_translation_path do |f| %>
              <%= f.hidden_field :key, value: key %>
              <%= f.hidden_field :file_path, value: @decoded_path %>
              <%= f.hidden_field :locale, value: I18n.locale %>
              <%= f.text_field :value, value: translation&.value || value %>
              <%= f.submit 'Update', style: 'display: none;' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</main>
