<main>
  <h1>Update translations</h1>

  <code><%= shorten_path @file_path %></code><br>
  <p><%= link_to 'Back', moirai_translation_files_path %></p>

  <table>
    <thead>
      <tr>
        <th>Key</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <% translations = Moirai::Translation.find_by_file_path(@decoded_path) %>
      <% @translation_keys.each do |key, value| %>
        <% translation = @translations.find { |t| t.key == key } %>

        <tr>
          <td>
            <% if translation.present? %>
              <mark title="<%= value %>"><%= key %></mark>
            <% else %>
              <%= key %>
            <% end %>
          </td>
          <td>
            <%= form_for translation.presence? || Moirai::Translation.new, url: moirai_create_or_update_translation_path do |f| %>
              <%= f.hidden_field :key, value: key %>
              <%= f.hidden_field :locale, value: @locale %>
              <%= f.text_field :value, value: translation&.value || value %>
              <%= f.submit 'Update', style: 'display: none;' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</main>
